/*---GENERAL---*/
.wrap{
	width: 1000px;
	margin:0 auto;
}
.side_nav{
	margin-top:60px;
}
#sidebar-wrapper {
	margin-top: 30px;
	z-index:9999 !important;

}
.black-btn{
	background-color:#000 !important;
	background-image:none !important;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25) !important;
	color: #9d9d9d !important;
	outline:none !important
	border:none !important;
	box-shadow:none !important;
}
.black-btn:focus {
	outline:none !important
}
/*---HEADER----*/
.navbar .black-btn{
	float:left;
	margin-top:10px;
	margin-right:20px;
}
.navbar .btn{
	border:none !important;
}
/*----LOGIN---*/
#page-content-wrapper{
	padding-top: 45px !important;
}
/* ANIMATIONS
============================================================================= */


@keyframes fade {
	from    { opacity:0 }
    to      { opacity:1 }
}
@-webkit-keyframes fade {
	from    { opacity:0 }
    to      { opacity:1 }
}

.ng-enter { 
	animation: fade 0.5s both ease-in; z-index: 1; 
	-webkit-animation: fade 0.5s both ease-in; z-index: 1; 
}
